header {
  background-color: #efefef; }
  header div {
    display: inline-block; }
  header div:first-child {
    height: 60px;
    line-height: 60px; }
    header div:first-child > img {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-left: 75px; }
  header div:nth-child(2) {
    float: right; }
    header div:nth-child(2) > ul.layui-nav {
      display: inline-block; }
      header div:nth-child(2) > ul.layui-nav li.layui-nav-item a {
        color: #444; }
        header div:nth-child(2) > ul.layui-nav li.layui-nav-item a span {
          border-color: #444 transparent transparent; }
      header div:nth-child(2) > ul.layui-nav li.layui-nav-item a:hover {
        color: dodgerblue; }
        header div:nth-child(2) > ul.layui-nav li.layui-nav-item a:hover span {
          top: 22px;
          border-style: dashed dashed dashed;
          border-color: transparent transparent dodgerblue; }
  header .layui-nav {
    background-color: #efefef; }

.x-side.layui-bg-black {
  top: 60px;
  margin: 0;
  background-color: #efefef;
  border-top: 1px solid #e2e2e2; }
  .x-side.layui-bg-black #sidebar {
    background-color: #efefef; }
    .x-side.layui-bg-black #sidebar li {
      padding: 5px 0; }
      .x-side.layui-bg-black #sidebar li a {
        color: #444; }
        .x-side.layui-bg-black #sidebar li a i {
          display: none; }
      .x-side.layui-bg-black #sidebar li ul.layui-show {
        margin-left: 0 !important; }
        .x-side.layui-bg-black #sidebar li ul.layui-show li {
          padding-left: 20px; }
    .x-side.layui-bg-black #sidebar li[data-spread] {
      margin-left: 0 !important; }

.site-demo-title.x-main {
  top: 60px;
  margin: 0; }
