@import "../../../sass/entrance";
.x-body
{
  form{
    +div{
      margin-left: 10px;
    }
  }
}

#data-analysis-dialog{
  padding: 0 10px;
  form{
    width: 100%;
    >div{
      border-bottom:1px solid #cfcfcf;
      .layui-form-item{
        display: inline-block;
        margin: 10px 0;
        .layui-form-label{
          padding:9px 5px;
          text-align: center;
        }

      }
    }
    >div.checkboxList{
      .layui-form-item{
        margin-right:20px;
      }
    }
    >div.confirm{
      text-align: center;
      padding: 15px 0;
      .save{
        margin-right: 26px;
      }
    }
  }
}