@import "veriable";
@import "checkbox";
//按钮
.layui-btn-primary{
  border-radius: 10px;
}
.layui-btn-primary:hover{
  color:$col_theme;
  border: 1px solid $col_theme;
}

//表格cell居中
.layui-table{
  tr{
    td,th{
      text-align: center;
    }
  }
}

//表格样式修改
.x-body,.dialog
{
  form{
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    .layui-input-block{
      display: inline-block;
      //margin-top: 10px;
      margin-left: 10px;
      width: 120px;
    }
    .layui-form-item{
      display: inline-block;
    }
    //checkbox修改
    .layui-form-checkbox {
      margin: 0;
      height: 24px;
      line-height: 22px;
      padding-right: 22px;
      >span{
        display: none;
      }
      i{
        right: 7px;
        font-size: 16px;
        width: 22px;
      }
    }
  }
}


