<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        车站沉降检测
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../font/iconfont.css">
    <link rel="stylesheet" href="../../../sass/x-admin.css" media="all">
    <link rel="stylesheet" href="add-point.css">
</head>
<body>
<div class="x-body">
    <form class="layui-form" action="">
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">测点编号</label>
                <div class="layui-input-block">
                    <input type="text" name="customAnalysis" required  lay-verify="required" placeholder="测点编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">断面里程</label>
                <div class="layui-input-block">
                    <input type="text" name="customAnalysis" required  lay-verify="required" placeholder="断面里程" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">行车方向</label>
                <div class="layui-input-block">
                    <input type="text" name="customAnalysis" required  lay-verify="required" placeholder="行车方向" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">测点类别</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value="">选择：固定的/临时的</option>
                        <option value="0">固定的</option>
                        <option value="1" selected="">临时的</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">区间名称</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value="">选择：四平路站/其他区间</option>
                        <option value="0">四平路站</option>
                        <option value="1" selected="">其他区间</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">断面类型</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value="">选择：盾构隧道/矿山隧道等6种类型</option>
                        <option value="0">盾构隧道</option>
                        <option value="1" selected="">矿山隧道</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">出测时间</label>
                <div class="layui-input-block">
                    <input type="text" name="customAnalysis" required  lay-verify="required" placeholder="日期格式" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">初测高程</label>
                <div class="layui-input-block">
                    <input type="text" name="customAnalysis" required  lay-verify="required" placeholder="数值格式" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">断面类型</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value="">选择：盾构隧道/矿山隧道等6种类型</option>
                        <option value="0">盾构隧道</option>
                        <option value="1" selected="">矿山隧道</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="layui-btn layui-btn-primary">保持</div>
            <div class="layui-btn layui-btn-primary">返回</div>
            <div class="layui-btn layui-btn-primary">新增下一点</div>
        </div>
    </form>


</div>
<script src="../../../lib/layui/layui.js" charset="utf-8"></script>
<script src="../../../../bower_components/dot/doT.min.js"></script>
<script src="../../../js/config.js"></script>
<script src="../../../js/asyn-load.js"></script>
<script src="add-point.js"></script>
<!--<script src="../js/x-admin.js"></script>-->
</body>
</html>