@import "../../sass/entrance";
.x-body
{
  form{
    display: inline-block;
    position: relative;
    top: -5px;
    margin-bottom: 10px;
    .layui-input-block{
      display: inline-block;
      margin-left: 10px;
      width: 120px;
    }
  }
  .layui-btn-primary{
    margin-bottom: 10px;
  }
}