
    <form class="layui-form" action="">
        <div class="layui-form-item">
        <div class="layui-input-block">
            <select name="city" lay-verify="required">
                <option value="">--请选择--</option>
                <option value="0">地铁1号线</option>
                <option value="0">地铁2号线</option>
                <option value="0">地铁3号线</option>
            </select>
        </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="选择日期" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方向</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required">
                    <option value="0">左线/右线</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="自定义分析条件" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-btn layui-btn-primary">收敛分布图</div>

        <div class="layui-btn layui-btn-primary export">结果导出</div>

        <div class="chart-warp">
            <div id="convergence"></div>
            <div class="chart-descript">
                <div>
                    收敛控制阈值：<span>7mm</span>
                </div>
                <div>
                    累积收敛最大值：<span>+062mm</span>
                </div>
                <div>
                    收敛是否超标：<span>否</span>
                </div>
                <div>
                    建议处治对策：<span>无</span>
                </div>
            </div>

        </div>
    </form>

