//station
.layui-tab-item {
  min-height: 300px;
}

//add-point.html
form.add-point-form {
  width: 100%;
  > div {
    width: 100%;
    .layui-form-item {
      width: 32.33%;
      min-width: 350px;
      .layui-input-block {
        width: 230px;
      }
      &.layui-form-text {
        .layui-input-block {
          margin-left: 120px;
          display: block;
          width: 80%;
        }
      }
    }
  }
  .control {
    text-align: center;
    .layui-btn {
      + .layui-btn {
        margin-left: 50px;
      }
    }
  }
}

//data-analysis-dialog.html
#data-analysis-dialog {
  padding: 0 10px;
  form {
    width: 100%;
    > div {
      border-bottom: 1px solid #cfcfcf;
      .layui-form-item {
        display: inline-block;
        margin: 10px 0;
        .layui-form-label {
          padding: 9px 5px;
          text-align: center;
        }

      }
    }
    > div.checkboxList {
      .layui-form-item {
        margin-right: 20px;
      }
    }
    > div.confirm {
      text-align: center;
      padding: 15px 0;
      .save {
        margin-right: 26px;
      }
    }
  }
}

//chart-convergence
.chart-warp {
  #convergence {
    width: 50%;
    height: 400px;
    float:left;
  }
  //chart-valve
  #chart-valve {
    width: 50%;
    height: 400px;
    margin: 0 25%;
  }
  //chart-valve-control
  #chart-valve-control {
    width: 50%;
    height: 400px;
    margin: 0 25%;
  }
  .chart-descript{
    float:left;
    margin-top: 50px;
    >div{
      height: 50px;
      line-height: 50px;
    }
  }
}
